/*
  CSS Variables
*/
:root {
    /* 
      Overview:
      #1 Fonts
      #2 Colors
      #3 Design
    */
    /* 
    &&&&&&&&&&&&&&&&&&&&&&&&&
    &&&&&&& #2 Colors &&&&&&&
    &&&&&&&&&&&&&&&&&&&&&&&&&
    */
    /* Primary */
    --primary-100: #FBDAC8;
    --primary-200: #F7AD94;
    --primary-300: #E7745C;
    --primary-400: #CF4133;
    --primary-500: #AF0000;
    --primary-600: #96000D;
    --primary-700: #7D0015;
    --primary-800: #65001A;
    --primary-900: #53001D;

    /* Info */
    --info-100: #C7F9F6;
    --info-200: #92F4F4;
    --info-300: #59D6E0;
    --info-400: #30ACC1;
    --info-500: #007799;
    --info-600: #005C83;
    --info-700: #00456E;
    --info-800: #003158;
    --info-900: #002349;
    
    /* Warning */
    --warning-100: #FCF5C9;
    --warning-200: #F9EA95;
    --warning-300: #EDD55F;
    --warning-400: #DBBB37;
    --warning-500: #C49A01;
    --warning-600: #A88000;
    --warning-700: #8D6800;
    --warning-800: #715100;
    --warning-900: #5E4100;
    
    /* Error */
    --error-100: #FBD4D0;
    --error-200: #F8A2A2;
    --error-300: #EC707D;
    --error-400: #D94B68;
    --error-500: #C1194B;
    --error-600: #A5124C;
    --error-700: #8A0C4A;
    --error-800: #6F0745;
    --error-900: #5C0441;
    
    /* Neutral */
    --neutral-100: #F3F3F4;
    --neutral-200: #E7E7E9;
    --neutral-300: #BCBCBE;
    --neutral-400: #7C7C7E;
    --neutral-500: #282829;
    --neutral-600: #1D1D23;
    --neutral-700: #14141D;
    --neutral-800: #0C0C17;
    --neutral-900: #070713;

    /* Shades */
    --shades-white: #FAFAFA;
    --shades-black: #101010;

    /* 
    &&&&&&&&&&&&&&&&&&&&&&&&&
    &&&&&&& #3 Design &&&&&&&
    &&&&&&&&&&&&&&&&&&&&&&&&&
    */
    /* Edge */
    --edge: 5px;

    /* Padding */
    --padding: 1rem;
    --padding-btn: calc(var(--padding) * .5) calc(var(--padding) * .8);

    /* 
          Colors
      */
    /* 
          Typo
      */
    --font-header-weight: 700;
    --font-btn: .8rem;
    --a-weight: 700;
    --a-size: 1.5rem;
    /* 
      Spacing
    */
    --space: 1rem;
    --padding: var(--space);
    --padding-normal: calc(var(--padding) * 2);
    --padding-5: 5%;
    --padding-2: 2%;
    --padding-vh-normal: 2vh;
    --margin-outer: calc(var(--space) * .5);
    --margin-large: calc(var(--space) * 3);
    --margin-5: 5%;
    /* 
      Borders
    */
    --border-round-edge: 15px;
  }